@import "./header.scss";

.cta_section {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  border-bottom: 5px solid var(--secondary-color);

  .cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    .cta-text {
      font-size: 36px;
      font-weight: 700;
      line-height: 54px;
    }

    .cta-btn {
      border: 2px solid #fff;
      padding: 13px 32px;
      transition: all ease 0.3s;
      text-transform: uppercase;
      color: #fff;

      &:hover {
        border: 2px solid var(--secondary-color);
        cursor: pointer;
        transition: all ease 0.3s;
      }
    }
  }

  @media (max-width: 768px) {
    .cta-container {
      // width: 90%;
      // margin: 0 auto;
      display: block;

      .cta-text {
        font-size: 28px;
        font-weight: 600;
        line-height: 44px;
        margin-bottom: 30px;
        text-align: center;
      }

      .cta-btn {
        text-align: center;
        display: block;
      }
    }
  }
}
