@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* GLOBAL STYLES */
:root {
  --primary-color: rgb(244, 4, 4);
  --secondary-color: #ffb800;
  --bg-light: #282828;
  --bg-dark: #1f1f1f;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  position: relative;
  width: 60%;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    width: 1168px;
    margin: 0 auto;
  }
}

p {
  margin: 0;
  padding: 0;
  color: #6c6c6c;
  font-weight: 500;
}

a {
  color: var(--bg-light);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.fixed {
  position: fixed !important;
  top: -100px; /* Hide initially */
}

/* TOPBAR SECTION STYLES */
.topbar-section {
  background-color: var(--bg-light);
  color: #fff;
  width: 100%;
  padding: 10px 0;
  border-bottom: 5px solid var(--secondary-color);
  transition: opacity 0.3s ease;
  opacity: 1;
}
.topbar-section .topbar-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar-section .topbar-section-container .topbar-section-left {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 20px;
  line-height: 18px;
}
.topbar-section .top-contact-link {
  padding-right: 20px;
  height: 16px;
  position: relative;
}

.topbar-section .top-contact-link:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #5c6a92;
}

.topbar-section .top-contact-link:last-child {
  margin-right: 0;
  border-right: none;
}

.topbar-section i {
  color: #fff;
}

/* HEADER SECTION STYLES */
.header-section {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  top: 0;
  z-index: 10;
}

.header-slide-in {
  top: 0;
  animation: slideInHeader 0.5s ease forwards;
}

@keyframes slideInHeader {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.header-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.header-section-container .header-logo {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-section-container .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section-container .header-nav .nav-list {
  display: flex;
  align-items: center;
}

.header-section-container
  .header-nav
  .nav-list
  .menu-item.current_page_item::after {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: var(--secondary-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -17px;
  pointer-events: none;
  cursor: default;
}

.header-section-container .header-nav .nav-list .menu-item {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
  line-height: 24px;
  position: relative;
}

.header-section-container .header-nav .nav-list .menu-item:hover > ::after {
  transition: all ease 0.3s;
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: var(--secondary-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -17px;
  animation: slideAcross 0.5s ease forwards;
}

.header-section-container
  .header-nav
  .nav-list
  .menu-item:last-child:hover
  > ::after {
  transition: none !important;
  content: none !important;
}

.header-section-container
  .header-nav
  .nav-list
  .menu-item:last-child:hover
  > ::before {
  transition: none !important;
  content: none !important;
}

.header-section-container .header-nav .nav-list .menu-item:last-child {
  margin-right: 0;
}

.header-section-container .header-nav .nav-list .menu-item .sub-menu {
  display: none;
  padding-left: 10px;
  width: 250px;
  padding-top: 20px;
  background-color: #f85353;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-top: 25px;
  border-top: 5px solid var(--secondary-color);
}

.sub-menu li a {
  font-weight: normal;
  transition: color 0.3s ease-in-out;
  letter-spacing: 0.88px;
}

.sub-menu li a:hover {
  color: var(--secondary-color);
}

.header-section-container
  .header-nav
  .nav-list
  .menu-item
  .sub-menu
  .menu-item {
  margin-bottom: 10px;
}

.open {
  display: block !important;
  position: absolute;
  opacity: 1 !important;
}
.header-section-container .header-nav .menu-item-btn {
  border: 2px solid #fff;
  padding: 13px 32px;
  transition: all ease 0.3s;
  text-transform: uppercase;
}
.header-section-container .header-nav .menu-item-btn:hover {
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  transition: all ease 0.3s;
}
.header-section-container .header-nav .menu-item-btn .menu-btn-link {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px;
}

.header-section a {
  color: #fff;
}

/* Mobile Menu */
.mobile-menu-icon {
  display: none;
  cursor: pointer;
  position: relative;
}

.mobile-menu ul {
  padding: 0;
}

.mobile-menu-icon i {
  font-size: 24px;
}

.mobile-menu-icon .fa-times {
  display: none;
}

.mobile-menu {
  display: none;
  background-color: var(--secondary-color);
  color: var(--bg-dark);
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 70px;
}

.mobile-menu .menu-main-menu-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.mobile-menu .menu-item {
  margin-bottom: 20px;
  text-align: center;
}

.mobile-menu .menu-item a {
  color: var(--bg-dark);
}

.mobile-menu .menu-item a:hover {
  color: var(--bg-dark);
  border-bottom: 1px solid #1f1f1f;
  transition: border-bottom ease 0.4s;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  margin-bottom: 100px;

  .slider-items__item {
    position: relative;
    width: 100%;
    height: 750px;
    display: block;
    aspect-ratio: auto;
    font-size: 31px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

    .slider-items__content {
      position: absolute;
      left: 30%;
      transform: translateX(-20%);
      top: 33%;
      width: 900px;

      p {
        // position: absolute;
        // top: 32%;
        // left: 20%;
        font-weight: 700;
        font-size: 2em;
        max-width: 835px;
        color: #fff;
      }

      .hero-btn {
        // position: absolute;
        // top: 60%;
        // left: 20%;
        font-size: 16px;
        padding: 15px 40px;
        background-color: var(--primary-color);
        color: #fff;
        transition: all ease 0.3s;
        border: none;
        outline: none;

        &:hover {
          background-color: #fff;
          color: var(--primary-color);
          transition: all ease 0.3s;
        }
      }

      @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        text-align: center;
        font-size: 28px;
        width: 100%;

        p {
          font-size: 1.2em;
          font-weight: 600;
          margin-bottom: 20px;
        }

        // .hero-btn {
        //   left: 50%;
        //   transform: translateX(-50%);
        //   top: 45%;
        // }
      }

      @media (min-width: 992px) and (max-width: 1365px) {
        font-weight: 600;
        font-size: 28px;
      }

      @media screen and (max-width: 1366px) {
        .slider-items__item {
          padding-top: calc(
            700 / 1366 * 100vw
          ); /* Calculate and set the height based on aspect ratio */
          height: 0;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    border: none;
    background-color: transparent;
  }

  &button {
    &:first-of-type {
      display: none !important;
    }
  }
  .slick-next {
    right: 40px;
  }

  .slick-prev {
    left: 40px;
  }

  @media (max-width: 991px) {
    .slick-next,
    .slick-prev {
      display: none !important;
    }
  }
}

// .slider-items__item img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

/* Footer */
.site-footer {
  background-color: var(--bg-dark);
  color: #fff;
  padding: 100px 0;

  .site-footer_wrapper {
    display: flex;
    justify-content: space-between;
    // align-items: center;

    .site-footer-col {
      p {
        color: #fff;
        margin-bottom: 10px;
      }
    }
  }
}

.site-copyright {
  background-color: var(--bg-light);
  color: #6c6c6c;
  padding: 30px 0;
}

.site-copyright a {
  color: var(--secondary-color);
}

/* 404 ERROR */

.error-title {
  text-align: center;
  font-size: 50px;
}

/* Media query for mobile devices */
@media screen and (max-width: 1024px) {
  .header-section-container {
    padding: 6px 0;
  }
  .header-nav {
    display: none !important;
  }
  .mobile-menu-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  .container {
    width: 94%;
  }
  .topbar-section-container {
    display: flex;
    flex-direction: column !important;
    gap: 20px;
  }

  .topbar-section-left {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }

  .topbar-section .top-contact-link {
    border-right: 0 !important;
  }
}

/* Animation KeyFrames */

@keyframes slideDownContent {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpContent {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideAcross {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(-30px);
  }
}
